@font-face {
    font-family: 'NFS'; /*a name to be used later*/
    src: url('../fonts/NFS.ttf'); /*URL to font*/
}

.post h1 {
	font-size: 30px;
	font-size: 1.7rem;
}

.logo__title {
	font-family: 'NFS';
	font-weight: 400;
}

/* About */
.short-about img {
	width: 25%;
	float: left;
	margin-right: 10px;
}

.short-about ul li {
    display: inline;
}

aside.post__sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  max-height: 100vh;
  display: block;
  overflow-y: scroll;
}

.toc {
	font-weight: 400;
	border-style: none;
}

.post-nav__item--prev {
	float: left;
}

/* Menu Changes */
.logo {
	padding-bottom: 0px;
}
.menu {
	background: none;
}
.menu__link {
	padding : 5px 15px;
	color : #e64946;
}

.menu__toggle {
	text-align: center;
}

@media screen and (min-width: 767px){
	.menu__item {
	    float: right;
	}
	.menu {
	    min-height: auto;
	    border-bottom: 3px solid #e64946;
	}
}


